## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. English
5. ig-pay atin-lay

**Objectives:**

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL
* English
* ig-pay atin-lay

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. TensorFlow

| Data Science Tools |
| ----- |
| ApacheSpark |
| RStudio |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Author
Joshua Farrell